/* Shared Styles on All Pages*/
html {
    scroll-padding-top: 160px;
    scroll-behavior: smooth;
}

body {
    margin: 1px 0 0 0;
    background-color: black;
    font-family: "Fjalla One", sans-serif;
    overflow-x: hidden;
}

/* Nav/Footer Styles */
.nav {
    height: 140px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 100;
}

.logo {
    max-height: 70px;
    border-radius: 6px;
}

.logo:hover {
    cursor: pointer;
}

.navbar {
    display: none;
}

.navbar.show {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-transform: uppercase;
    padding: 0 5px 0 5px;
}

.nav-item {
    padding: 0 12px 0 12px;
    color: white;
    font-size: 1.2rem;
    font-family: "Fjalla One", sans-serif;
}

.link {
    text-decoration: none;
}

.active {
    color: rgb(181, 9, 10);
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(181, 9, 10);
}

.footer {
    height: 140px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: rgb(181, 9, 10);
}

.footer-p {
    color: white;
    width: 100%;
    text-align: center;
    font-family: "Fjalla One", sans-serif;
    margin: 6px;
}

.hamburger {
    border: 0;
    background-color: transparent;
    color: white;
    margin-top: -90px;
}

/* End of Nav/Footer */
/* Hero Section */
.hero-container {
    max-height: 1100px;
    width: 100%;
    background-color: black;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.hero-img-cont {
    width: 40%;
    display: grid;
    justify-content: center;
}

.hero {
    max-height: 500px;
    border-radius: 6px;
}

.hero-words {
    width: 40%;
}

.hero-slogan {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 2rem 0 0 0;
    font-family: "Fjalla One", sans-serif;
}

/* End of Hero */
/* Curve Section */
.spacer {
    aspect-ratio: 960/200;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.layer-1 {
    background-image: url(../imgs/waves-down.png);
}

.layer-2 {
    background-image: url(../imgs/waves-up.png);
}

/* End fo Curves */
/* Work Together Section */
.together-cont {
    min-height: 550px;
    width: 100%;
    background-color: black;
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.together-list {
    width: 100%;
    margin: 3rem 0;
    list-style-type: none;
}

.together-but-div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.together-button {
    height: 60px;
    width: 160px;
    color: white;
    border-radius: 6px;
    font-family: "Fjalla One", sans-serif;
    background-color: rgb(181, 9, 10);
    border: 1px solid black;
}

/* End of Work Together */

.serv-button:hover {
    background-color: red;
}

/* End of Homepage Styles */
/* Body Containers and Word Styles */
.first-container {
    min-height: 650px;
    width: 100%;
    background-color: white;
    padding-top: 140px;
}

.container-white {
    min-height: 550px;
    width: 100%;
    background-color: white;
}

.container-black {
    min-height: 550px;
    width: 100%;
    background-color: black;
}

.white-p {
    font-size: 1.5rem;
    font-family: "Fjalla One", sans-serif;
    color: white;
}

.black-p {
    font-size: 1.5rem;
    font-family: "Fjalla One", sans-serif;
    color: black;
}

.slogan {
    text-align: center;
    color: white;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0 0 0;
    font-family: "Fjalla One", sans-serif;
}

.slogan-black {
    text-align: center;
    color: black;
    font-size: 3rem;
    margin: 0;
    padding: 1rem 0 0 0;
    font-family: "Fjalla One", sans-serif;
}

.small-slogan {
    font-size: 2.8rem;
}

.regular-list {
    width: 100%;
    text-align: center;
    list-style-type: none;
    padding: 2rem 0;
}

.list-item {
    color: white;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.list-item-black {
    color: black;
    font-family: "Fjalla One", sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.center-words-cont {
    color: white;
    padding: 1rem 5rem;
    text-align: center;
    min-height: 200px;
}

.words-cont {
    color: white;
    padding: 1rem 5rem;
    min-height: 200px;
}

.red-border {
    width: 60%;
    height: 1px;
    border: 0;
    background-color: rgb(181, 9, 10);
}

/* End of Shared Styles */
/* Contact Page Styles */
form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

label,
input,
textarea,
.submit-button,
.recaptcha {
    min-width: 60%;
    padding: 1rem 0;
    color: white;
    background-color: transparent;
}

.recaptcha {
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
}

.contact-form {
    background-image: url(../imgs/contact-back2.jpg);
    background-size: contain;
}

.submit-button {
    background-color: rgb(0, 0, 54);
    border: none;
    border-radius: 6px;
    color: white;
}

.submit-button:hover {
    background-color: rgb(0, 0, 130);
    cursor: pointer;
}

/* End of Contact Page Styles */
/* Services Page Styles */
/* Grid Specific */
.service-grid {
    display: grid;
    margin: 0 1rem;
    padding: 0 0 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: 200px;
    column-gap: 1rem;
    row-gap: 1rem;
}

.grid-item {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 200px;
}

.inner-page-link {
    color: inherit;
}

.grid-item:hover {
    box-shadow: 5px 5px 5px grey;
    color: red;
}

.grid-p {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    font-family: "Fjalla One", sans-serif;
}

/* End of Grid specific */
.serv-domain-word-cont {
    padding-top: 6rem;
}

/* End of Services Page Styles */
/* My Work Page Styles */
.work-image {
    max-height: 420px;
}

.work-sample-one,
.work-sample-two {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 2rem 0;
}

.work-sample-one:hover {
    background-image: url(./imgs/invictuslogo.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

.work-sample-two:hover {
    background-image: url(./imgs/ka2enLogo.jpg);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
}

/* End of My Work Styles */
/* About Page Styles */
.about-img-cont {
    max-width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.about-img {
    max-height: 650px;
    border-radius: 6px;
}

.about-top-first-p {
    padding: 3rem 0 3rem 0;
}

.about-words-cont {
    width: 50%;
}
